{% extends 'base.html' %}
{% block content %}
{% for facility in facilities %}
<p>
    {{ facility.name }}
    | member: ₹{{ facility.member_charge }}
    | non-member: ₹{{ facility.non_member_charge }}
</p>
{% endfor %}
<h2>Book Hall</h2>
{% if error %}
<p style="color:red;">
    {{ error }}
</p>
{% endif %}

{% if success %}
<p style="color:green;">
    {{ success }}
</p>
{% include 'booking_summary.html' %}
{% endif %}
<form method="POST">
    {% csrf_token %}
    <label>Name:</label>
    <input type="text" name="name" required>
    <br><br>
    <label>Mobile:</label>
    <input type="text" name="mobile" minlength="10" maxlength="10" pattern="[0-9]{10}" title="Enter exactly 10 digits" required>
    <br><br>
    <label>select hall:</label>
    <select name="facility_id" id="facility_id" required>
        {% for facility in facilities %}
        <option value="{{ facility.id }}">{{ facility.name }}</option>
        {% endfor %}
    </select>

    <br><br>
    <label>select date:</label>
    <input type="date" name="Booking_date" id="Booking_date" value="{{ booking_date|default:'' }}" required>

    <div id="availability-results"
        style="margin: 15px 0; padding: 10px; border: 1px solid #ccc; border-radius: 5px; display: none;"></div>

    <br><br>
    <label>start time (8am to 10pm):</label>
    <input type="time" name="start_time" min="08:00" max="22:00" title="Booking only allowed between 8 AM and 10 PM" required>
    <br><br>
    <label>end time (8am to 10pm):</label>
    <input type="time" name="end_time" min="08:00" max="22:00" title="Booking only allowed between 8 AM and 10 PM" required>
    <br><br>
    <button type="submit">Book Hall</button>
</form>

{% endblock %}